<div class="navbar">
  <a href="#" class="logo fs-1"
    ><img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREmabwje8QyYg3WYluck5Anpf6iw4KV4jv_A&usqp=CAU"
      alt=""
      width="100px"
      height="60px"
  /></a>
  <ul class="menu">
    <li class="menu-item">
      <a href="/" class="menu-link">Trang Chủ</a>
    </li>
    <li class="menu-item">
      <a href="/" class="menu-link">Giới Thiệu</a>
    </li>
    <li class="menu-item">
      <a href="/" class="menu-link">Sản Phẩm</a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link"
        >Danh Mục <i class="fa fa-solid fa-sort-down"></i
      ></a>
      <ul>
        <% categories.forEach(function(category) { %>
        <li>
          <a href="/category/<%- category.id %>"> <%= category.name %> </a>
        </li>
        <% }); %>
      </ul>
    </li>
  </ul>
  <div class="account">
    <% if (locals.user) { %>
    <div class="account-img">
      <img src="<%= user.avatar ||
      "https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.6435-9/119181339_914611972395710_3591361342219985116_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=174925&_nc_ohc=OuYhJ7lAvrYAX8i_u0M&_nc_ht=scontent.fsgn4-1.fna&oh=00_AfApTabSOL6azHHV2Y0lf3D-hGRlsNotYgAEujOg-_HWzg&oe=6449F810"
      %>" />
      <ul>
        <li>
          <a href="/profile/<%= user._id %>">Thông tin cá nhân</a>
        </li>
        <li>
          <a href="/logout">Đăng Xuất</a>
        </li>
      </ul>
    </div>
    <% } else { %>
    <a class="btn btn-account" href="/login">
      <i class="fa fa-solid fa-user"></i>
    </a>
    <% } %>
  </div>
</div>
