<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../css/main.css" />
  </head>
  <body>
    <header><%- include('../views/header.ejs') %></header>
    <div class="container">
      <h2 class="heading">Bài Viết Nổi Bật</h2>
      <div class="post-feature">
        <a href="#" class="post-feature-media post-media">
          <img
            src="https://source.unsplash.com/random"
            alt=""
            class="post-feature-image"
          />
        </a>
        <div class="post-feature-info">
          <a href="#" class="post-category">asdsad</a>
          <h2>
            <a href="#" class="post-feature-title post-title">asdsad</a>
          </h2>
          <div class="post-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
            nemo officiis sit iste autem ea, illum provident quod neque amet
            molestias et quia atque perspiciatis, laboriosam hic similique
            ratione illo.
          </div>
          <a href="#" class="post-author">
            <div class="post-author-info">
              <time class="post-author-time">Ngày Tạo: </time>
            </div>
          </a>
        </div>
      </div>
      <div class="post-list">
        <div class="post-item">
          <a href="#" class="post-media">
            <img
              src="https://source.unsplash.com/random"
              alt=""
              class="post-image"
            />
          </a>
          <a href="#" class="post-category">asdsad</a>
          <h3>
            <a href="#" class="post-title">asdsad</a>
          </h3>
          <div class="post-desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quam
            odio sunt error laborum molestias, quos nisi a mollitia fugiat
            repellat eaque asperiores quisquam aliquid sint aut, recusandae
            reprehenderit exercitationem!
          </div>
          <a href="#" class="post-author">
            <div class="post-author-info">
              <time class="post-author-time">Ngày Tạo: </time>
            </div>
          </a>
        </div>
        <div class="post-item">
          <a href="#" class="post-media">
            <img
              src="https://source.unsplash.com/random"
              alt=""
              class="post-image"
            />
          </a>
          <a href="#" class="post-category">asdsad</a>
          <h3>
            <a href="#" class="post-title">asdsad</a>
          </h3>
          <div class="post-desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quam
            odio sunt error laborum molestias, quos nisi a mollitia fugiat
            repellat eaque asperiores quisquam aliquid sint aut, recusandae
            reprehenderit exercitationem!
          </div>
          <a href="#" class="post-author">
            <div class="post-author-info">
              <time class="post-author-time">Ngày Tạo: </time>
            </div>
          </a>
        </div>
        <div class="post-item">
          <a href="#" class="post-media">
            <img
              src="https://source.unsplash.com/random"
              alt=""
              class="post-image"
            />
          </a>
          <a href="#" class="post-category">asdsad</a>
          <h3>
            <a href="#" class="post-title">asdsad</a>
          </h3>
          <div class="post-desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quam
            odio sunt error laborum molestias, quos nisi a mollitia fugiat
            repellat eaque asperiores quisquam aliquid sint aut, recusandae
            reprehenderit exercitationem!
          </div>
          <a href="#" class="post-author">
            <div class="post-author-info">
              <time class="post-author-time">Ngày Tạo: </time>
            </div>
          </a>
        </div>
      </div>
      <%- include("../views/postNew.ejs") %>
    </div>
    <footer></footer>
    <script src="../../js/main.js"></script>
  </body>
</html>
