<main>
  <section class="login container">
    <div class="login-main">
      <h3 class="headding">Đăng Nhập</h3>
      <form class="form-sign"  onsubmit="return check()" method="POST">
        <div class="text-field">
          <label for="email">Nhập email tài khoản</label>
          <input
            name="email"
            autocomplete="off"
            type="email"
            id="email"
            name="email"
            placeholder="Nhập Tên Tài Khoản"
          />
          <!-- nếu lỗi thông báo lỗi -->
          <span class="error">
            <% if (typeof errors !== 'undefined' && errors.length > 0) { %> <%
            errors.forEach(function(error) { %> <%= error.msg %> <% }); %> <% }
            %>
          </span>
        </div>
        <div class="text-field">
          <label for="password">Mật Khẩu</label>
          <input
            name="password"
            autocomplete="off"
            type="password"
            id="password"
            name="password"
            placeholder="Nhập Mật Khẩu"
          />
          <span class="error">
            <% if (typeof errors !== 'undefined' && errors.length > 0) { %> <%
            errors.forEach(function(error) { %> <%= error.msg %> <% }); %> <% }
            %>
          </span>
        </div>
        <button id="login" type="submit">Đăng Nhập</button>
      </form>
    </div>
    <div class="login_main-right">
      <h3 class="headding">Đăng Ký</h3>
      <p class="signup-desc">
        Nếu quý khách vẫn chưa có tài khoản trên shop của chúng tôi hãy thử sử
        dụng tùy chọn này để đăng ký tài khoản mới.
      </p>
      <div>
        <a href="./register">
          <button type="submit">Đăng Ký</button>
        </a>
      </div>
    </div>
  </section>
</main>
<script>
    function check(){
                var loi;
               
                var email = document.getElementById("email");
                if (email.value.length == 0) {
                    alert("Bạn chưa nhập Email");
                    email.style.border = "2px solid red";
                    email.style.background = "red";
                    return false;
                } else {
                    email.style.border = "2px solid rgb(16, 233, 0)";
                    email.style.background = "none";
                }
                var password = document.getElementById("password");
                if (password.value.length == 0) {
                    alert("Bạn chưa nhập password");
                    password.style.border = "2px solid red";
                    password.style.background = "red";
                    return false;
                } else {
                  password.style.border = "2px solid rgb(16, 233, 0)";
                  password.style.background = "none";
                }
              }
</script>