<div class="post-new">
  <h2 class="heading">Bài Viết Mới Nhất</h2>
  <div class="post-list">
    <div class="post-item">
      <a href="#" class="post-media">
        <img
          src="https://source.unsplash.com/random"
          alt=""
          class="post-image"
        />
      </a>
      <a href="#" class="post-category">sadasd</a>
      <h3>
        <a href="#" class="post-title">ádsadsadsa</a>
      </h3>
      <div class="post-desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos
        cum quas asperiores, eaque, velit est provident omnis quam sed iste
        voluptates et odio dicta. Odit maxime temporibus ut libero quaerat.
      </div>
      <a href="#" class="post-author">
        <div class="post-author-info">
          <time class="post-author-time">Ngày Tạo: </time>
        </div>
      </a>
    </div>
    <div class="post-item">
      <a href="#" class="post-media">
        <img
          src="https://source.unsplash.com/random"
          alt=""
          class="post-image"
        />
      </a>
      <a href="#" class="post-category">sadasd</a>
      <h3>
        <a href="#" class="post-title">ádsadsadsa</a>
      </h3>
      <div class="post-desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos
        cum quas asperiores, eaque, velit est provident omnis quam sed iste
        voluptates et odio dicta. Odit maxime temporibus ut libero quaerat.
      </div>
      <a href="#" class="post-author">
        <div class="post-author-info">
          <time class="post-author-time">Ngày Tạo: </time>
        </div>
      </a>
    </div>
    <div class="post-item">
      <a href="#" class="post-media">
        <img
          src="https://source.unsplash.com/random"
          alt=""
          class="post-image"
        />
      </a>
      <a href="#" class="post-category">sadasd</a>
      <h3>
        <a href="#" class="post-title">ádsadsadsa</a>
      </h3>
      <div class="post-desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos
        cum quas asperiores, eaque, velit est provident omnis quam sed iste
        voluptates et odio dicta. Odit maxime temporibus ut libero quaerat.
      </div>
      <a href="#" class="post-author">
        <div class="post-author-info">
          <time class="post-author-time">Ngày Tạo: </time>
        </div>
      </a>
    </div>
    <div class="show-more-btn">
      <button type="button" class="btn btn-primary" id="">Xem Thêm</button>
    </div>
  </div>
</div>
