<main>
  <section class="container">
    <div class="profile-main">
      <h3 class="headding">Thông Tin Cá Nhân</h3>
      <form
        class="form-profile"
        action=""
        method="POST"
        autocomplete="off"
        enctype="multipart/form-data"
      >
        <div class="text-field">
          <label for="username">Tên Tài Khoản</label>
          <input
            name="username"
            autocomplete="off"
            type="text"
            id="username"
            placeholder="Nhập Tên Tài Khoản"
            value="<%= user.username %>"
          />
          <span class="error"></span>
        </div>
        <div class="text-field">
          <label for="email">Email</label>
          <input
            name="email"
            autocomplete="off"
            type="email"
            id="email"
            placeholder="Nhập email"
            value="<%= user.email  %>"
          />
          <span class="error"></span>
        </div>
        <div class="text-field">
          <label for="password">Mật Khẩu</label>
          <input
            name="password"
            autocomplete="off"
            type="password"
            id="password"
            placeholder="Nhập Mật Khẩu"
            value="<%= user.password  %>"
          />
          <span class="error"></span>
        </div>
        <div class="text-field">
          <label for="birthday">Ngày Sinh</label>
          <input
            name="birthday"
            autocomplete="off"
            type="date"
            id="birthday"
            placeholder="Nhập Ngày Sinh"
            value="<%= user.birthday  %>"
          />
          <span class="error"></span>
        </div>
        <div class="text-field">
          <label for="avatar">Ảnh Đại Diện</label>
          <input type="file" name="avatar" value="" />
          <input type="hidden" name="cloneavatar" value="" />
        </div>
        <button type="submit">Cập Nhật</button>
      </form>
    </div>
  </section>
</main>
