<main>
  <section class="container">
    <div class="profile-main">
      <h3 class="headding">Thông Tin Cá Nhân</h3>
      <form class="form-profile" method="POST" enctype="multipart/form-data">
        <div class="text-field">
          <label for="username">Tên Tài Khoản</label>
          <input
            name="username"
            autocomplete="off"
            type="text"
            id="username"
            placeholder="Nhập Tên Tài Khoản"
            value="<%= user.username %>"
          />
          <span class="error"></span>
        </div>
        <div class="text-field">
          <label for="email">Email</label>
          <input
            name="email"
            autocomplete="off"
            type="email"
            id="email"
            placeholder="Nhập email"
            value="<%= user.email  %>"
          />
          <span class="error"></span>
        </div>
        <!-- <div class="text-field">
          <label for="password">Mật Khẩu</label>
          <input
            name="password"
            autocomplete="off"
            type="password"
            id="password"
            placeholder="Nhập Mật Khẩu"
            value="false"
          />
          <span class="error"></span>
        </div> -->
        <div class="text-field">
          <label for="birthday">Ngày Sinh</label>
          <input
            name="birthday"
            type="date"
            id="birthday"
            placeholder="Nhập Ngày Sinh"
            value="<%= moment(user.birthday).format('YYYY-MM-DD'); %>"
          />
          <span class="error"></span>
        </div>
        <div class="text-field">
          <label for="avatar">Ảnh Đại Diện</label>
          <input type="file" name="avatar" />
        </div>
        <button type="submit">Cập Nhật</button>
      </form>
    </div>
  </section>
</main>
