

<div class="content">
    <div class="section-heading">
        <h2>Thống kê</h2>
       
    </div>
    <div class="cards">
        <ul>
            <div class="card">
                <div class="card-infor">
                    <span>DDDDDD</span>
                    <div class="card-title">Bài viết</div>
                </div>
                <div class="card-image">
                    <i class="fas fa-hand-holding-medical"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-infor">
                    <span>DDDDDD</span>
                    <div class="card-title">Nổi Bật</div>
                </div>
                <div class="card-image">
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-infor">
                    <span>DDDDDD</span>
                    <div class="card-title">Bình Luận</div>
                </div>
                <div class="card-image">
                    <i class="fa-solid fa-spaghetti-monster-flying"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-infor">
                    <span>DDDDDD</span>
                    <div class="card-title">Danh mục</div>
                </div>
                <div class="card-image">
                    <i class="fa-solid fa-people-group"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-infor">
                    <span>DDDDDD</span>
                    <div class="card-title">Thành viên</div>
                </div>
                <div class="card-image">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </ul>
    </div>
</div>
</main>