
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
    ></script>
    <script   src="https://cdn.ckeditor.com/4.9.2/full-all/ckeditor.js"></script>
    <link rel="stylesheet" href="http://localhost:5001/../../css/admin.css" />
    <script defer src="http://localhost:5001/../../js/index.js"></script>
    <title>Admin</title>
  </head>
  <body >
    <div class="sidebar">
      <div class="infor">
        <h2>Admin <span>shop</span></h2>
      </div>

      <div class="menu-left">
        <ul>
          <!-- <li>
            <a href="dashboard.php" class="menu-link active">
              <i class="fa-solid fa-gauge-high"></i>
              <span>Thống kê</span>
            </a>
          </li> -->
          <li>
            <a href="/admin/categories" class="menu-link">
              <i class="fa-solid fa-rectangle-list"></i>
              <span>Danh mục</span>
            </a>
          </li>
          <li>
            <a href="/admin/posts" class="menu-link">
              <i class="fa-sharp fa-solid fa-book"></i>
              <span>Sản Phẩm</span>
            </a>
          </li>
          <li>
            <a href="/admin/users" class="menu-link">
              <i class="fa-solid fa-user"></i>
              
              <span>Tài Khoản</span>
            </a>
          </li>
          <li>
            <a href="/admin/comments" class="menu-link">
              <i class="fa-solid fa-comment"></i>
              <span>Bình Luận</span>
            </a>
          </li>
          <li>
            <a href="/admin/dashboard" class="menu-link">
              <i class="fa-solid fa-rectangle-list"></i>
              <span>Thống Kê</span>
            </a>
          </li>
        </ul>
        <div class="logout">
          <a href="http://localhost:5001/logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Đăng xuất</span></a
          >
        </div>
      </div>
    </div>
    <main id="main">
      <div class="top-header">
        <i class="fa-solid fa-bars" id="bar_btn"></i>
        <div class="avatar">
          <h2><%= locals?.user?.username ?? ""  %></h2>
          <img
            src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.6435-9/119181339_914611972395710_3591361342219985116_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=174925&_nc_ohc=OuYhJ7lAvrYAX8i_u0M&_nc_ht=scontent.fsgn4-1.fna&oh=00_AfApTabSOL6azHHV2Y0lf3D-hGRlsNotYgAEujOg-_HWzg&oe=6449F810"
          />
        </div>
      </div>
  </body>
</html>
