<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if (title) { %> <%= title %> <% } else { %> <%= 'Blog' %> <% } %>
    </title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../../css/login.css" />
    <link rel="stylesheet" href="../../../css/register.css" />
    <link rel="stylesheet" href="../../../css/main.css" />
  </head>
  <body>
    <header><%- include('../header.ejs') %></header>
    <main><%-body%></main>
    <footer></footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
      integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../../../js/main.js"></script>
    <script>
      const post_list = document.querySelector(".post-list-new");
      function loadMore(page, limit) {
        $.ajax({
          url: "/loadMore?page=" + page + "&limit=" + limit,
          type: "GET",
          success: function (data) {
            console.log(data);
            if (data.length === 0) {
              $("#load-more").hide();
            }
            data.forEach(function (post) {
              var html = `<div class="post-item">
              <a href="/postDetails/${post.id}" class="post-media">
                <img src="${post.image}" alt="" class="post-image" />
              </a>
              <a href="/category/${post.categoryId.id}" class="post-category">${post.categoryId.name}</a>
              <h3>
                <a href="/postDetails/${post.id}" class="post-title">${post.title}</a>
              </h3>
              <div class="post-desc">${post.content}</div>
              <a href="#" class="post-author">
                <div class="post-author-info">
                  
                </div>
              </a>
            </div>`;
              post_list.innerHTML += html;
            });
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
      $(document).ready(function () {
        var page = 2;
        var limit = 3;
        $("#load-more").click(function () {
          loadMore(page, limit);
          page++;
        });
      });
    </script>
  </body>
</html>
